<!--3-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title><!-- Ця функція прописана в контроллері CarsControllers.cs-->
</head>
<body>
    <div>
        @RenderBody()<!-- на це місце буде вставлятись весь код з List.cshtml-->
    </div>
</body>
</html>
