<!--4-->
<!-- "sobachka"using ASP_NET_CORE_SHOP.DATA.Models Не забути підключити саму модель щоб можна було нею користуватись-->
<!-- "sobachka"model IEnumerable<Car> -->
<!-- "sobachka"using ASP_NET_CORE_SHOP.ViewModels Вже можна видалити бо ми створили файл _ViewImports.cshtml в якому всі такі штукі будемо прописувати-->
<!-- "sobachka"model CarsListVievModel -->
<!-- "sobachka"{ось тak описується С# код                       всі цикли, якісь функції які будуть необхідні для HTML сторінки, прописуємо тут
         Layout = "_Layout";//якщо вказати Layout тоді все що тут буде знаходитись в файлі _Layout.cshtml в параметрі "sobachka"RenderBody()
     }-->

<h1>Вивід всіх авто</h1>
<!--<h2>@ViewBag.Somsyn_intrestin </h2>-->
<h2>@Model.carrCategory</h2>
<div class="row ml-5 mb-2"><!-- Створюємо загальний блок в середину якого поміщаємо сам цикл, цей блок має відступ зверху та відступ знизу за допомогою Бутстрапа розмічений-->
    @{ //без знака пробіла
        //foreach (var car in Model.allCars)//Перебираємо циклом, змінну типу вар в якій отримаємо все з ліста Car і доти докии глобальна Model (Яка знаходиться в CarsController.cs)
        foreach (Car car in Model.allCars)//цикл необхідно з var переписати на ЯВНИЙ тип даних а топто Car      щоб її підключити в файлі _ViewImports.cshtml  прописуємо рядок юзінга
        {//код з відси, вставив в файл AllCars.cshtml       тут ми його підключимо
            @Html.Partial("AllCars", car);//перший параметр, це імя шабону який підключаємо (AllCars) другий параметор обєкт який передаємо
        }

     }
</div>